<div class="container align-items-center justify-content-center">
    <!--Row 0 -->
    <div class="row justify-content-md-center">
        <div class="col-lg-8">
            <h2 class="mb-3">¿Cómo te sientes hoy?</h2>
            <br>
        </div>
    </div>
    <!--Row 1 -->
    <div class="row justify-content-md-center">
        <!--Card 1-->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="../../../../assets/img/emojis/feliz.png" class="img-fluid" />
                    <a href="#personalidad">
                        <div class="overlay overlay--blue">
                            <div class="text">Feliz</div>
                        </div>
                    </a>
                </div>
            </div>

        </div>

        <!--Card 2-->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="../../../../assets/img/emojis/triste.png" class="img-fluid" />
                    <a href="#personalidad">
                        <div class="overlay overlay--pink">
                            <div class="text">Triste</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--Row 2-->
    <div class="row justify-content-md-center">
        <!--Card 3-->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="../../../../assets/img/emojis/enamorado.png" class="img-fluid" />
                    <a href="#personalidad">
                        <div class="overlay overlay--yellow">
                            <div class="text">Enamorad@</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!--Card 4-->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="../../../../assets/img/emojis/indiferente.png" class="img-fluid" />
                    <a href="#personalidad">
                        <div class="overlay overlay--green">
                            <div class="text">Indiferente</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>