<div class="container">
    <!--Row 0 -->
    <div class="row justify-content-md-center">
        <div class="col-lg-8">
            <h2 class="mb-3">Experiencia multisensorial</h2>
            <br>
        </div>
    </div>
    <!--Row 1 -->
    <div class="row justify-content-md-center">
        <!--Card 1-->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="../../../../assets/img/emojis/relajado-fem.png" class="img-fluid" />
                    <a href="#estado-unias">
                        <div class="overlay overlay--pink">
                            <div class="text">Relajada</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!--Card 2-->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="../../../../assets/img/emojis/fiesta.png" class="img-fluid" />
                    <a href="#estado-unias">
                        <div class="overlay overlay--yellow">
                            <div class="text">Fiesta</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--Row 2-->
    <div class="row justify-content-md-center">
        <!--Card 3-->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="../../../../assets/img/emojis/energia.png" class="img-fluid" />
                    <a href="#estado-unias">
                        <div class="overlay overlay--green">
                            <div class="text">Energía</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!--Card 4-->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="../../../../assets/img/emojis/placer.png" class="img-fluid" />
                    <a href="#estado-unias">
                        <div class="overlay overlay--purple">
                            <div class="text">Placer</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>