<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-6 mb-4">
            <h2 class="mb-3">Información personal</h2>
            <br>
            <form>
                <!-- Name input -->
                <div class="form-outline mb-4">
                    <input type="text" id="form5Example1" class="form-control" autocomplete="off" />
                    <label class="form-label" for="form5Example1">Nombre</label>
                    <div class="form-notch">
                        <div class="form-notch-leading"></div>
                        <div class="form-notch-middle"></div>
                        <div class="form-notch-trailing"></div>
                    </div>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="number" id="form5Example2" class="form-control" autocomplete="off" />
                    <label class="form-label" for="form5Example2">Celular</label>
                    <div class="form-notch">
                        <div class="form-notch-leading"></div>
                        <div class="form-notch-middle"></div>
                        <div class="form-notch-trailing"></div>
                    </div>
                </div>

                <div class="form-outline mb-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                        <label class="form-check-label" for="flexRadioDefault1">
                            Soy mujer
                        </label>
                    </div>
                </div>
                
                <div class="form-outline mb-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                        <label class="form-check-label" for="flexRadioDefault1">
                            Soy hombre
                        </label>
                    </div>
                </div>

                <!-- Submit button -->
                <a class="btn btn-primary btn-block mb-4" aria-current="page" href='#sentimiento'>Continuar</a>
            </form>
        </div>
    </div>
</div>