 <header class="bg-image header-iconica">    
    <div class="text-center">
        <div class="mask background-iconica">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">{{titulo}}</h1>
                    <h4 class="mb-3">{{subtitulo}}</h4>
                    <a class="btn btn-light btn-lg" aria-current="page" href='#dato-usuario'>INICIAR</a>
                </div>
            </div>
        </div>
    </div>    
</header>