.header-iconica {
    background-image: url('../../../../assets/img/images/iconica-1.jpg');
    background-repeat: no-repeat;
    background-size: 90% 100%;
    height: 550px;    
    width: 100%;    
}

.background-iconica {
    background-color: rgba(0, 0, 0, 0.1);        
}