/* You can add global styles to this file, and also import other style files */
// @import '~bootstrap/scss/bootstrap';
// @import '~font-awesome/css/font-awesome.scss';
@import url("https://use.fontawesome.com/releases/v5.15.2/css/all.css");
@import url("https://use.fontawesome.com/releases/v5.15.2/css/all.css");

@import 'assets/bootstrap-5-dark-theme-main/src/scss/bootstrap/functions';
@import 'assets/bootstrap-5-dark-theme-main/src/scss/bootstrap/variables';
@import 'assets/bootstrap-5-dark-theme-main/src/scss/bootstrap/mixins';



$colors: (
  blue: #3f888f, //I    
  pink: #f09595, //C
  yellow: #ffd000,//O
  green: #9bda7f, //N
  purple: #a67db9,//I
  light-blue: #85beff, //C
  red: #ef5350 //A
);

@each $colorname, $color in $colors {
  .overlay--#{$colorname} {
    background-color: $color;
  }
}

input {
    // background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAUBJREFUOBGVVE2ORUAQLvIS4gwzEysHkHgnkMiEc4zEJXCMNwtWTmDh3UGcYoaFhZUFCzFVnu4wIaiE+vvq6+6qTgthGH6O4/jA7x1OiCAIPwj7CoLgSXDxSjEVzAt9k01CBKdWfsFf/2WNuEwc2YqigKZpK9glAlVVwTTNbQJZlnlCkiTAZnF/mePB2biRdhwHdF2HJEmgaRrwPA+qqoI4jle5/8XkXzrCFoHg+/5ICdpm13UTho7Q9/0WnsfwiL/ouHwHrJgQR8WEwVG+oXpMPaDAkdzvd7AsC8qyhCiKJjiRnCKwbRsMw9hcQ5zv9maSBeu6hjRNYRgGFuKaCNwjkjzPoSiK1d1gDDecQobOBwswzabD/D3Np7AHOIrvNpHmPI+Kc2RZBm3bcp8wuwSIot7QQ0PznoR6wYSK0Xb/AGVLcWwc7Ng3AAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 16px 18px;
    background-position: 98% 50%;
}

.form-notch-leading {
    width: 9px;
}

.form-notch-middle {
    width: 88.8px;
}