<div class="container">
    <!--Row 0 -->
    <div class="row justify-content-md-center">
        <div class="col-lg-8">
            <h2 class="mb-3">Personalidad</h2>
            <br>
        </div>
    </div>
    <!--Row 1 -->
    <div class="row justify-content-md-center">
        <!--Card 1-->
        <div class="col-lg-4 col-md-6 mb-4">            
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="../../../../assets/img/emojis/casual.png" class="img-fluid" />
                    <a href="#experiencia-multisensorial">
                        <div class="overlay overlay--purple">
                            <div class="text">Casual</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!--Card 2-->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="../../../../assets/img/emojis/expresiva.png" class="img-fluid" />
                    <a href="#experiencia-multisensorial">
                        <div class="overlay overlay--light-blue">
                            <div class="text">Expresiva</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--Row 2-->
    <div class="row justify-content-md-center">
        <!--Card 3-->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="../../../../assets/img/emojis/elegante.png" class="img-fluid" />
                    <a href="#experiencia-multisensorial">
                        <div class="overlay overlay--red">
                            <div class="text">Elegante</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!--Card 4-->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="../../../../assets/img/emojis/extrovertida.png" class="img-fluid" />
                    <a href="#experiencia-multisensorial">
                        <div class="overlay overlay--blue">
                            <div class="text">Extrovertida</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>