<div class="container fixed-bottom colorBody1">
    <div class="container text-center colorNavbar2">

        <button (click)="privacidad()" type="button" class="btn btn-warning btn-sm cookies8 mt-n1">
            <u>Política de privacidad y cookies</u>
        </button>
        <div class="row">
            <div class="col">
                <a (click)="whatsApp()" class="cursor7">
                    <i class="fab fa-whatsapp mr-3 ml-3"></i>
                </a>
                <a href="https://www.facebook.com" target="_blank">
                    <i class="fab fa-facebook mr-3"></i>
                </a>
                <a href="mailto:FedeDJ@FedericaDJ.es" target="_blank">
                    <i class="fas fa-envelope mr-3"></i>
                </a>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin-in mr-3"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram mr-3"></i>
                </a>
                <a href="https://www.twitter.com/" target="_blank">
                    <i class="fab fa-twitter mr-3"></i>
                </a>
            </div>
        </div>

        <p class="mb-1">
            <small class="text-muted colorName3">
                Copyrigth &copy;&nbsp;Federica Daniela Jímenez ({{year}})&nbsp;Todos los derechos reservados
            </small>

        </p>
    </div>
</div>

<!-- Modal privacidad -->
<div class="modal fade" id="privacidad" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content colorModal11">
            <div class="container backModal12">
                <div class="modal-body text-center colorTexto10">
                    <h4 class="colorName3 text-uppercase mb-4">
                        <u>política de privacidad y cookies</u>
                    </h4>
                    <p class="font-weight-light text-justify">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto debitis harum corporis, fuga
                        porro id quae minus, maiores voluptatem vel sed cumque sint consequuntur, pariatur illo deleniti
                        incidunt. Illum sed voluptatibus quae iusto esse veritatis sint delectus aperiam numquam,
                        tenetur corrupti, odio suscipit eveniet ea aspernatur repudiandae! Deleniti, veritatis
                        inventore? Officiis, explicabo, repudiandae porro voluptates dolore totam assumenda nam commodi
                        inventore, quis provident exercitationem illo eius. Delectus ut ea voluptates alias, minima
                        obcaecati eos repudiandae doloribus illo accusantium sint hic ab, maiores voluptatem, quisquam
                        exercitationem? Quaerat ipsum impedit blanditiis asperiores et repellat consequuntur rem dicta
                        odio, repellendus quia inventore nulla, at ab soluta dolorum non reiciendis voluptatem id.
                        Soluta fugit officia, numquam similique inventore amet atque, cupiditate voluptatum explicabo
                        pariatur quae sunt nesciunt ducimus in nihil earum sint optio eaque cum, placeat esse! Facere,
                        porro provident! Ut architecto impedit doloremque facere, nesciunt qui, esse, quia mollitia
                        molestias ducimus explicabo modi ad! Maiores quia nemo repudiandae, commodi consequatur nihil
                        iusto eius? Soluta quo sit placeat architecto accusantium molestias ipsa unde porro! Sequi,
                        aperiam recusandae nam, fuga non assumenda dignissimos aspernatur doloribus delectus ullam
                        expedita, suscipit tempore nobis nemo! Sequi corrupti delectus, minus inventore tempore labore
                        voluptates necessitatibus facilis quae unde eum fuga molestias aperiam eaque maxime, nesciunt
                        assumenda natus commodi dolor soluta! Repellendus impedit odio expedita esse velit nostrum
                        soluta consequuntur dolorum, fugiat non excepturi quis labore cupiditate minima distinctio
                        possimus amet, aliquam et in, veritatis modi laboriosam alias molestias? Atque tempore deleniti
                        blanditiis totam rerum praesentium est quos. Est libero dolor, eveniet placeat, voluptas numquam
                        ratione minus animi fuga veniam, ipsum laborum tenetur provident obcaecati nam ipsa. Veniam
                        suscipit ipsam a nemo! Harum earum totam officia saepe nihil dolorem, nesciunt exercitationem
                        iste quas corporis dolor quaerat sint laboriosam nam magnam optio culpa molestias neque nisi
                        sunt. Nobis nam nulla doloremque!
                    </p>
                    <div class="container text-center">
                        <button (click)="salir()" class="btn btn-outline-warning colorName3" type="button">
                            <i class="fas fa-check"></i>

                        </button>
                    </div>


                </div>
            </div>
        </div>
    </div>